# Auto detect text files and perform LF normalization
* text=auto

# Force LF for certain files
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.svg text eol=lf